.sect-1{
    background-image: url('https://images.pexels.com/photos/433604/pexels-photo-433604.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* height: 95vh; */
    text-align: center;
    font-family: 'Kanit', sans-serif;
}
.prof{
    width: 350px;
    height: 400px;
}
.imge2{
    width: 300px;
    height: 250px;
}
.cred{
    margin-top: 5%;
}

.skill{
    width: 200px;
    height: 150px;
    border-radius: 65%;
}
.credetial{
    float: right;
    margin-right: 25%;
}

.arrow{
    width: 100px;
    height:  50px;
    margin-top: 35%;
}
